* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #000000, #787878) ;  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #000000, #787878); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-form {
    width: 80%;
    height: 105vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}

.welcomeback-uno {
    display: flex;
    align-items: center;
    text-align: center;
}

.welcomeback-dos{
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

.message button {
    padding: 1rem;
    font-weight: 400;
    background-color: #000000;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}

.message button:hover {
    background-color: #6d6d6d;
}

.formulario {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos {
    
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.bxl-linkedin,
.bxl-instagram,
.bxl-facebook-circle{
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: #fff;
    display: flex;
    color: white;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: #000000;
    cursor: pointer;
}

.cuenta-gratis {
    padding: 2rem 0;
}

.formulario a{
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario a[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.sign-in {
    position: absolute;
    opacity: 1;
    visibility: visible;
}
.sign-up{
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 0;
    visibility: hidden;
}

.sign-up.active {
    opacity: 1;
    visibility: visible;
}

@media(max-width:622px){
    .container-form{
        align-items: center;
		display: flex;
		flex-direction: column;
        width: 80%;
        height: 150vh;
    }
    .welcomeback-uno{
        margin-top: -1rem;
        margin: 10px 10px;
    }
    .formulario{
        text-align: center;
        width: 100%;
    }

}